NODE_ENV = dev
PORT = 3000
DB_URL = mongodb+srv://<username>:<password>@cluster.mongodb.net/<dbname>
DB_NAME = Saraha
SALT_ROUND = 10
ENCRYPTION_KEY = your_encryption_key_here

# JWT
JWT_SECRET_USER = your_jwt_secret_user
JWT_SECRET_ADMIN = your_jwt_secret_admin
JWT_SECRET_USER_REFRESH = your_jwt_secret_user_refresh
JWT_SECRET_ADMIN_REFRESH = your_jwt_secret_admin_refresh
JWT_EXPIRES_IN = 15m

# Email
EMAIL_SERVICE = gmail
EMAIL_USERNAME = your_email@gmail.com
EMAIL_PASSWORD = your_email_app_password

# Google
WEB_CLIENT_ID = your_google_web_client_id

# Redis
REDIS_URL = rediss://default:password@host:port
